.Container {
    flex-basis: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.PostBox {
    flex-basis: 19%;
    display: flex;
    flex-direction: column;
    background: #BFC3BA;
    height: 200px;
    margin: 10px 0 50px 0;
    padding: 15px;
    border-radius: 10px;
}

.PostBox button {
    background: #A9ACA9;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.PostBox button:hover {
    background: black;
    color: white;
}

.title {
    flex-basis: 40%;
    font-size: 20px;
    font-weight: 400;
}

.content {
    flex-basis: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
}