.Container{
    flex-basis: 10%;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}
.FixedFooter{
    width: 100%;
    background: #2F2235;
    padding: 10px 0;
    color: white;
}

.FixedFooter{
    bottom: 0;
}    

.Container p{
    line-height: 200px;
}